args==0.1.0
certifi==2018.4.16
clint==0.5.1
coverage==4.5.1
dj-database-url==0.5.0
Django==1.11.13
django-heroku==0.3.1
djangorestframework==3.6.2
gunicorn==19.8.1
mamba==0.9.3
pbr==4.0.2
psycopg2==2.7.4
pytz==2018.4
six==1.11.0
stevedore==1.28.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
whitenoise==3.3.1
